@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Archia';
	src: url(/archia-regular-webfont.woff2);
}


* {
    margin: 0;
    padding: 0;
}

body {
	background: black;
    color: white;
	overflow-x: hidden;
	font-family: Archia, sans-serif;
}
