@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Archia';
	src: url(/archia-regular-webfont.woff2);
}


* {
    margin: 0;
    padding: 0;
}

body {
	background: #131325;
    color: white;
	overflow-x: hidden;
	font-family: Archia, sans-serif;
}


.scroll {
	--height: 1.5rem;

	height: var(--height);
	width: 1.1rem;
	border: 1px solid white;
	display: inline-block;
	align-self: center;
	position: relative;

	@apply rounded-full;
}

.scroll::after {
	content: '';
	--size: 0.4rem;

	position: absolute;
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	background: white;
	left: 50%;
	translate: -50% 0;
	top: 0;
	animation: updown 2s infinite forwards;
}

@keyframes updown {
	0% {
		transform: translateY( calc(0.8*var(--size)) );
	}
	50% {
		transform: translateY( calc( var(--height) - 2.2*var(--size) ) );
	}
	100% {
		transform: translateY( calc(0.8*var(--size)) );
	}
}

.grid-overlay {
	@apply absolute z-[-1] top-0 left-0 w-full h-screen opacity-50;
	background-image: url(/grid.svg);
}

.grid-overlay .fade-out {
	@apply absolute z-[10] top-0 left-0 w-full h-screen;
	background-image: radial-gradient(
		circle,
		transparent 0%,
		#131325 60%,
		#131325 100%
	);
}

.outline-text {
	--spread: 1.15px;
	--color: rgb(255, 255, 255, 0.7);

	text-shadow: var(--spread) var(--spread) 0px var(--color),
		calc(-1 * var(--spread)) calc(-1 * var(--spread)) 0px var(--color),
		calc(-1 * var(--spread)) var(--spread) 0px var(--color),
		var(--spread) calc(-1 * var(--spread)) 0px var(--color),
		0 0 120px rgb(255 255 255 / 0.5);
}

.rose {
	@apply border-rose-600 bg-rose-500/20 text-rose-500;
}

.green {
	@apply border-green-600 bg-green-500/20 text-green-500;
}

.yellow {
	@apply border-yellow-600 bg-yellow-500/20 text-yellow-500;
}

.blue {
	@apply border-blue-600 bg-blue-500/20 text-blue-500;
}