
.notPublished {

    --border: #F43F5E;
    
    margin-bottom: 2rem !important;
    @apply text-[0.9rem] font-semibold;
}

.four04 {
    font-size: 200px !important;
    margin-top: 5rem !important;
    @apply font-bold text-center;
}

pre code {
    border: 1px solid #474466;
    background: #1B1B31 !important;

    @apply rounded-b-md scrollbar-thin scrollbar-thumb-outline scrollbar-track-bg;
}

pre code::-webkit-scrollbar-thumb {
    @apply rounded-xl;
}

code {
    font-family: 'DankMono', sans-serif !important;
}

:not(pre:has(code)) > code {
    border: 1px solid #474466;
    background: #1B1B31 !important;

    @apply rounded-md px-2 inline-block;
}

article {
    font-family: 'Satoshi', sans-serif;
}

pre {
    margin-top: 0 !important;
    padding: 0 !important;
    font-family: 'DankMono', sans-serif !important;
}

.rehype-code-title {
    --icon: url("/file.svg");
    @apply text-[.85rem] text-white/80 flex items-center py-3 pb-2 px-5 font-semibold rounded-t-md border bg-bg border-b-0 border-outline;  
}

.rehype-code-title::before {
    content: "";
    background-image: var(--icon);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @apply h-4 mr-1 aspect-square opacity-80;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    font-size: xx-large !important;
}

blockquote {
    --color: #1B1B31;
    --border: #474466;

    border: 1px solid var(--border);
    background: var(--color) !important;

    position: relative !important;
    padding: 10px !important;
    margin: 0 !important;
    padding-left: 1.5rem !important;
    
    @apply rounded-r-md;
}

blockquote > p {
    margin: 0 !important;
    padding: 0 !important;
}

blockquote::before {
    content: "";
    @apply absolute top-0 left-0 bg-[var(--border)] w-[5px] h-full;
}

img {
    @apply rounded-md w-full;
}

iframe {
    @apply rounded-md w-full aspect-[16/9];
}

a {
    @apply text-blue-500 underline underline-offset-2;
}

.title {
    font-size: 2.5rem !important;
    @apply font-extrabold;
}

/* if mobile */
@media (max-width: 640px) {
    h1, h2, h3, h4, h5, h6 {
        @apply font-bold;
        font-size: x-large !important;
    }

    .title {
        font-size: 2rem !important;
        @apply font-extrabold;
    }

    .four04 {
        font-size: 100px !important;
    }
}

hr {
    @apply border-outline;
}

.date {
    padding: 0 0 !important;
}

ul {
    list-style-type: unset; 
}


